/**
 * @file
 * Default styling for dialect module.
 *
 * @todo rtl styles
 */
.dialect {
  position: relative;
}
@media print {
  .dialect {
    display: none;
  }
}
.dialect__current-language {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.dialect__current-language svg {
  vertical-align: middle;
}
.dialect__current-language polygon {
  fill: currentColor;
}
.dialect__tooltip {
  background-color: #aaa;
  box-shadow: rgba(17,17,17, .05) 0 0 40px, rgba(17,17,17, .1) 0 1px 1px;
  border-radius: 2px;
  margin: 0;
  opacity: 0;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 8rem;
  z-index: 500;
  transition: transform .25s cubic-bezier(0.34,1.61,0.7,1), opacity .25s linear;
  transform: scale(0.9) translateX(-50%);
  transform-origin: 0 0;
  display: none;
}
.dialect__tooltip.js-active {
  display: inline-block;
}
.dialect__tooltip.js-visible {
  opacity: 1;
  pointer-events: all;
  transform: scale(1) translateX(-50%);
}
.tooltip-arrow {
  background: #aaa;
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px;
  transform: translateY(-100%) translateX(-50%) rotate(45deg);
  transform-origin: 0 100%;
}
.edialect__tooltip:before {
  border-bottom: 6px solid #888;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: 100%;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
}
.dialect__tooltip ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dialect__tooltip li {
  padding: 0;
}
.dialect__tooltip a {
  border: none;
  color: #111;
  display: block;
  line-height: 2;
  text-decoration: none;
  text-shadow: none;
}
.dialect__tooltip a:hover {
  border: none;
  color: #111;
}
.dialect__fallback {
  border-top: 1px solid #888;
  margin-top: 5px;
}
